<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--连接MySQL数据库-->
  <connectionStrings>
    <add name="db_config" connectionString="server=127.0.0.1;port=3306;user=root;password=123456;database=zx_scada_data;Charset=utf8"/>
  </connectionStrings>
  <!--配置串口信息-->
  <appSettings>
    <!--端口号-->
    <add key="port" value="COM1"/>
    <!--波特率-->
    <add key="baud" value="9600"/>
    <!--数据位-->
    <add key="data_bit" value="8"/>
    <!--校验位-->
    <add key="parity" value="None"/>
    <!--停止位-->
    <add key="stop_bit" value="One"/>  
  </appSettings>
</configuration>